<%= form.email_field :email, autocomplete: "email" %>

<div>
  <%= form.password_field :password, autocomplete: "new-password" %>
  <% if @minimum_password_length %>
    <br />
    <em><%= @minimum_password_length %> characters minimum</em>
  <% end %>
</div>

<%= form.password_field :password_confirmation, autocomplete: "new-password", class: 'form-control' %>